/* 기본 스타일 */
#skills {
  text-align: center;
  padding: 20px;
  background-color: #171717;
}

#skills h2 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1rem;
  font-weight: bold;
}

.skills-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
}

.tech {
  margin-bottom: 30px;
  flex: 1;
  text-align: center;
  padding: 10px;
  border: 1px solid #2AEAFE;
  border-radius: 5px;
  background-color: #3f3f3f;
  box-shadow: 0 8px 16px rgba(42, 234, 254, 0.5);
}

.tech:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tech h3 {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 10px;
}

.tech-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.tech-icons img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease-in-out;
}

.tech-icons img:hover {
  transform: scale(1.1);
}

/* Tooltip 스타일 */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip::after {
  content: attr(data-tooltip); /* data-tooltip의 값을 툴팁 텍스트로 사용 */
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: #333;
  color: white;
  font-size: 12px;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  white-space: nowrap;
}

/* 마우스 오버시 툴팁이 나타나도록 설정 */
.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}
